<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="../public/styles/edit.css" />

<body>
    <section id="edit-container">
        <h1>Edit Post</h1>
        <form method="POST" action="/edit/<%= index %>">
            <div class="form-edit-container">
                <label for="newTitle">New Title: </label>
                <input type="text" id="newTitle" name="newTitle" value="<%= post.title %>"/><br>
                <label for="newPostxt">New Content: </label>
                <textarea type="text" id="newPostxt" name="newPostxt" rols="5" cols="100" maxlength="300"><%= post.text %></textarea><br>
                <button type="submit" id="btnSave" name="btnSave">Save</button>
            </div>
        </form>
    </section>
</body>

<%- include('partials/footer.ejs') %>

