<%- include('partials/header.ejs') %>

<h1>Olá teste</h1>

<% if (posts.length > 0) { %>
    <% posts.forEach((post, index) => { %>
        <div>
            <h2><%= post.title %></h2>
            <p><%= post.text %></p>
            <form method="POST" action="/edit/<%= index %>">
                <a href="/edit/<%= index %>">Edit</a>
            </form>
            
            <form method="POST" action="/delete/<%= index %>">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% }) %>
<% } else { %>
    <h2>Seus post aparecerão aqui</h2>
<% } %>

<%- include('partials/footer.ejs') %>